$primary: #eb625b;
$secondary: #5b69eb;
$black: #000;
$black-2: #363636;
$black-3: #505050;
$black-4: #5c5c5c;
$black-5: #959595;
$white: #fff;
$white-2: #b6b6b6;
$blue: #21c7fb;
$yellow: #fff0db;
$green: #63d72d;
$orange: #fe891e;
$red: #eb625b;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;
