.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .checkbox {
    &__outer {
      label {
        font-family: $font-secondary;
        font-size: 14px;
        a {
          font-family: inherit;
        }
      }
    }
  }
  .button {
    &--text {
      margin-right: auto;
    }
  }
  .button__group {
    .button {
      padding: 0.9em 1.34em;

      &--border {
        color: $black;
        border-color: $black;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
